# OS directory info files
.DS_Store
desktop.ini
.idea
# node
node_modules

# static build
build

# secrets
.env
.env.*
!.env.example
cookies.json
keys.json

# docker
#docker-compose.yml

# ide
.vscode
